{% extends "app/layout.html" %}

{% block title %}
{{current_user.username}}
{% endblock %}

{% block script %}
<script src="/static/app/vid-redirect.js"></script>
<script src="/static/app/subscribe.js"></script>
{% endblock %}

{% block body %}
<div id="data" data-is-authenticated="{{user.is_authenticated}}" 
                data-current-user-username="{{user.username}}" 
                data-creator-username="{{current_user.username}}"
                data-isauthenticated="{{user.is_authenticated}}"></div>
    <div class="profile-avatar">
        <div class="profile-avatar-container">
            <img class="avatar" src="{{current_user.avatar.url}}">
        </div>
        <p>{{current_user.username}}</p>
        <div class="subs">{{current_user.subscribers}} subscribers</div>
        {% if user.username != current_user.username %}
            {% if subbed %}
                <input id="subscribe" type="submit" class="btn btn-danger grey" value="Subscribed" name="subscribe">
            {% else %}
                <input id="subscribe" type="submit" class="btn btn-danger" style="background-color: var(--primary); border-color: var(--accent);" value="Subscribe" name="subscribe">
            {% endif %}
            {% if current_user.has_card %}
            <div class="form-card">
                <form action="/donate/{{current_user.username}}" method="post" enctype="multipart/form-data" class="pb-3">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="number"
                            class="form-control"
                            id="amount"
                            name="amount"
                            required>
                        <label for="amount">Amount</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-danger" type="submit">Donate</button>
                    </div>
                </form>
            </div>
            {% endif %}
        {% else %}
        <a href="/change">
            <input id="#change" type="submit" class="btn btn-danger grey" value="Change profile picture" name="change">
        </a>
        {% if user.has_card %}
            <a href = "/add_card">
                <button class="btn btn-danger" style="background-color: var(--primary); border-color: var(--accent);" type="submit">Change Card</button>
            </a>
        {% else %}
            <a href = "/add_card">
                <button class="btn btn-danger" style="background-color: var(--primary); border-color: var(--accent);" type="submit">Add Card</button>
            </a>
        {% endif %}
        {% endif %}
    </div>
    <div class="latest">
        <h3>Latest Videos by {{current_user.username}}</h3>
        <div class="latest-videos">
            {% for vid in videos %}
                <div data-video="{{vid.id}}" class="latest-vid">
                    <div class="latest-vid-item">
                        <video>
                            <source src="{{ vid.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="vid-info">
                        <p class="vid-title">{{vid.title}}</p>
                        <p>{{vid.creator}}</p>
                        <p>{{vid.timestamp | date:"Y-m-d"}}</p>
                    </div>
                </div>
                {% empty %}
                <h5>No videos</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}