{% extends "app/layout.html" %}

{% block title %}
Search: {{input}}
{% endblock %}

{% block script %}
<script src="/static/app/vid-redirect.js"></script>
{% endblock %}

{% block body %}
<div id="#data" data-is-authenticated="{{user.is_authenticated}}"></div>
    <div class="latest">
        <h3>Results for '{{input}}'</h3>
        <div class="latest-videos">
            {% for vid in videos %}
                <div data-video="{{vid.id}}" class="latest-vid">
                    <div class="latest-vid-item">
                        <img src="{{ vid.thumbnail.url }}" alt="{{ vid.title }}">
                    </div>
                    <div class="vid-info">
                        <p class="vid-title">{{vid.title}}</p>
                        <p>{{vid.creator}}</p>
                        <p>{{vid.timestamp | date:"Y-m-d"}}</p>
                    </div>
                </div>
            {% empty %}
            <h5>No videos</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}