{% extends "app/layout.html" %}

{% block title %}
Upload Video
{% endblock %}


{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('upload-form');
        const spinner = document.getElementById('loading-spinner');
        const button = document.getElementById('upload-button');

        form.addEventListener('submit', function() {
            button.disabled = true;
            spinner.style.display = 'block';
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="form-card">
    <h2 class="mb-3">Upload Video</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form id="upload-form" action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="pb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.video.errors }}
            <div class="text-center">
                <label for="{{ form.video.id_for_label }}" class="form-label">{{ form.video.label_tag }}</label>
            </div>
            <input class="form-control" type="file" id="{{ form.video.id_for_label }}"  name="{{ form.video.name }}" accept=".mp4" required>
        </div>
        <div class="form-floating mb-3">
            {{ form.title.errors }}
            <input type="{{ form.title.widget.input_type }}"
                        class="form-control"
                        id="{{ form.title.id_for_label }}"
                        name="{{ form.title.name }}"
                        required>
            <label for="{{ form.title.id_for_label }}">{{ form.title.label_tag }}</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.description.errors }}
            <textarea   class="form-control"
                        id="{{ form.description.id_for_label }}"
                        name="{{ form.description.name }}"
                        style="height: 10rem;"></textarea>
            <label for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
        </div>

        <div class="text-center pb-3">
            <button id="upload-button" class="btn btn-danger" type="submit">Upload</button>
        </div>

        <div style="display: flex; justify-content: center;">
            <div id="loading-spinner" class="loader" style="display: none;"></div>
        </div>
</form>
</div>
{% endblock %}