{% extends "app/layout.html" %}

{% block title %}
YouTV
{% endblock %}

{% block script %}
<script src="/static/app/expand-description.js"></script>
<script src="/static/app/recommended-vid-redirect.js"></script>
<script src="/static/app/like.js"></script>
<script src="/static/app/subscribe.js"></script>
<script src="/static/app/comment.js"></script>
{% endblock %}

{% block body %}
<div id="data" data-current-user-username="{{user.username}}" data-creator-username="{{video.creator.username}}"
    data-isauthenticaed="{{user.is_authenticated}}" data-video-id="{{video.id}}"></div>
<div class="watch">
    <div class="video-item">
        <video controls>
            <source src="{{ video.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="video-info">
        <h2>{{ video.title }}</h2>
        <div class="video-nav">
            <div style="display: flex; align-items: center; gap: 1.5rem;">
                <div class="avatar-container">
                    <img class="avatar" src="{{video.creator.avatar.url}}">
                </div>
                <div class="user-subs">
                    <div class="username">{{video.creator.username}}</div>
                    <div class="subs">{{video.creator.subscribers}} subscribers</div>
                </div>
                {% if user.is_authenticated and user.username != video.creator.username %}
                    {% if subbed %}
                        <input id="subscribe" type="submit" class="btn btn-danger grey" value="Subscribed" name="subscribe">
                    {% else %}
                        <input id="subscribe" type="submit" class="btn btn-danger" value="Subscribe" name="subscribe">
                    {% endif %}
                {% endif %}
            </div>
            <div class="like-bar">
               <div class="like">
                {% if liked %}
                    <span class="material-symbols-outlined like-icon red">
                        thumb_up
                    </span>
                {% else %}
                    <span class="material-symbols-outlined like-icon">
                        thumb_up
                    </span>
                {% endif %}
                    <div class="like-count">
                        {{video.likes}}
                    </div>
               </div> 
               <div class="line">|</div>
               <div class="dislike">
                    {% if disliked %}
                        <span class="material-symbols-outlined dislike-icon red">
                            thumb_down
                        </span>
                    {% else %}
                        <span class="material-symbols-outlined dislike-icon">
                            thumb_down
                        </span>
                    {% endif %}
                    <div class="dislike-count">
                        {{video.dislikes}}
                    </div>
               </div> 
            </div>
        </div>
        <div class="desc">
            <p>{{video.timestamp}}</p>
            <div class="description-container">
                <p class="description">{{ video.description|linebreaksbr }}</p>
            </div>
            <div class="text-center">
                <div class="more-button">...more</div>
            </div>
        </div>
        <div class="comments">
            {% if video.comments == 1 %}
            <h5 id="comms">{{video.comments}} comment</h5>
            {% else %}
            <h5 id="comms">{{video.comments}} comments</h5>
            {% endif %}
            {% if user.is_authenticated %}
                <form class="comment-form pb-5" method="POST" action="/watch/{{video.id}}">
                    <div style="display: flex; align-items: center; gap: 1.5rem;">
                        <div class="avatar-container">
                            <img class="avatar" src="{{user.avatar.url}}">
                        </div>
                    </div>
                    {% csrf_token %}
                    <textarea   id="{{ form.content.id_for_label }}"
                                name="{{ form.content.name }}"
                                style="height: 100%; width: 100%;"
                                required></textarea>
                    <button class="btn btn-danger" type="submit">Post</button>
                </form>
            {% endif %}
            <div id="error"></div>
            <div id="new-comment" class="comment"></div>
            {% for comment in comments %}
            <div class="comment pb-3">
                <div style="display: flex; align-items: center; gap: 1.5rem; padding-top: 5px;">
                    <div class="avatar-container">
                        <img class="avatar" src="{{comment.user.avatar.url}}">
                    </div>
                </div>
                <div class="comment-data pe-2">
                    <div style="display: flex; gap:1rem; vertical-align: middle; align-items: center;">
                        <div class="comment-username">
                            {{comment.user.username}}
                        </div>
                        <div class="comment-time">
                            {{comment.timestamp}}
                        </div>
                    </div>
                    {{comment.content}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="recommended">
        <h5>Latest Videos</h5>
        {% for vid in vids %}
        <div data-video="{{vid.id}}" class="recommended-vid">
            <div class="vid-item">
                <video>
                    <source src="{{ vid.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="vid-info">
                <p class="vid-title">{{vid.title}}</p>
                <p>{{vid.creator}}</p>
                <p>{{vid.timestamp | date:"Y-m-d"}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}