:root {
    --light: #f6f6f9;
    --primary: #990606;
    --light-primary: #c26e6e;
    --grey: #bebebe;
    --dark-grey: #323232;
    --dark: #191919;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --text: #f6f6f9;
    --secondary: #190101;
    --accent: #dd0808;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}


body{
    background: var(--dark-grey);
    color:var(--light);
    overflow-x: hidden;
}

.navbar{
    background-color: var(--dark);
}

.form-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: var(--light);
}

.form-card input{
    background-color: var(--dark);
    color: var(--light);
}
.form-card input:focus{
    background-color: var(--dark);
    color: var(--light);
}

.form-card textarea{
    background-color: var(--dark);
    color: var(--light);
    
}

.form-card textarea:focus{
    background-color: var(--dark);
    color: var(--light);
}

.form-card button{
    background-color: var(--primary);
    border-color: var(--accent);
}

.form-card button:hover{
    background-color: var(--light-primary);
    border-color: var(--accent);
}

.form-card a{
    color: var(--light-primary);
}


.watch{
    display: grid;
    grid-template-columns: 66vw auto;
    grid-template-rows: 66vh auto;
    gap: 1rem;
    color:var(--light);
}

.video-item{
    margin: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

.video-item video{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    grid-column: 2;
    grid-row: span 2;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.video-info{
    padding-left: 1rem ;
    grid-row: 2;
    grid-column: 1;
}

@media screen and (max-width: 768px) {
    .watch {
        display: block; 
    }

    .video-nav{
        flex-direction: column;
        align-items: flex-start;
    }
}

.avatar-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
  
.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.username{
    cursor: pointer;
    color: var(--light);
}

.video-nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.user-subs{
    display: flex;
    flex-direction: column;
}

.subs{
    font-size: small;
    color: var(--grey)
}

.video-nav .btn, .btn:focus{
    background-color: var(--primary);
    border-color: var(--accent);
}

.video-nav .btn:hover{
    background-color: var(--light-primary);
    border-color: var(--accent);
}


.like-bar{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--dark);
    border: 0.5rem solid var(--dark);
    border-radius: 2rem;
}

.like, .dislike{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
}



.material-symbols-outlined{
    vertical-align: middle;
}

.line{
    width: 2px;
    height: 100%;
    background-color: var(--grey);
    color: transparent;
}

.description-container {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
}
  
.description {
    margin: 0;
    padding: 0;
}

.more-button{
    display:none;
    color:var(--accent);
    cursor: pointer;
}

.transparency-gradient-text {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#user-nav{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.avatar-container-nav{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-container-nav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.desc{
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color:var(--light);
}

.comment-form{
    display: flex;
    align-items: center;
    gap:1rem;
    padding-right: 1rem;
}

.comment-form input{
    background-color: var(--dark);
    color: var(--light);
}

.comment-form input:focus{
    background-color: var(--dark);
    color: var(--light);
}

.comment-form button{
    background-color: var(--primary);
    border-color: var(--accent);
}

.comment-form button:hover{
    background-color: var(--light-primary);
    border-color: var(--accent);
}

.comment-avatar-container{
        width: 150px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #388E3C;
}

.avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.comment-form textarea{
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 0.5rem;
}

.comment-form textarea:focus{
    background-color: var(--dark);
    color: var(--light);
}

.comment{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.comment-time{
    font-size: small;
    color: var(--grey);
}

.comment-username{
    font-size: larger;
    cursor: pointer;
}

.recommended-vid{
    display: grid;
    height: 10rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor:pointer;
}

.vid-item{
    margin: 1rem;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 180px;
    height: 130px;
}

.vid-item video{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vid-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--grey);
}

.vid-title{
    font-weight:550;
    font-size: 1.2rem;
    color: var(--light);
}

.red{
    color:var(--accent);
}

.grey{
    background-color: var(--grey) !important;
    border-color: var(--dark) !important;
}